apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deploy
  namespace: at-devcalc-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: at-devcalc-api-app
  template:
    metadata:
      name: at-devcalc-api-app
      labels:
        app: at-devcalc-api-app
    spec:
      containers:
        - name: at-devcalc-api-app
          image: jpcribeiro21/at-devcalc-api:latest
          imagePullPolicy: Always
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 10

          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 10

